{{#extend "default"}}


        {{#content "header"  mode="append"}}
        
        {{/content}}

        {{#content "main" mode="append"}}
            
            <div class="product__promotion">
                <div class="row flex-container">
                <div class="columns small-12 medium-4 flex-container">
                    <div class="phone__detail--lg m-b-20">
                                    <div class="phone__detail--lg-image">
                                        <img src="../asset/images/phone-lg.jpg" alt="">
                                    </div>

                                    <div class="phone__detail--ls-description">
                                        <div class="phone__title">
                                            <h3 class="person__name">Samsung Galaxy A4 - 2017</h3>
                                        </div>

                                        <div class="phone__detail--lg-price">
                                            <div class="row">
                                                <div class="columns small-6 flex-container">
                                                    <p>6.490.000</p>
                                                </div>

                                                <div class="columns small-6 flex-container">
                                                    <p>7.490.000</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="phone__detail--lg-action">
                                            <a href="#" class="button full-width">Mua ngay</a>
                                        </div>
                                    </div>                             
                            
                    </div>                    
                </div>

                <div class="columns small-12 medium-8 flex-container flex-dir-column">
                    <div class="phone--sm">
<div class="row">
                       <div class="columns small-12 medium-6 flex-container">
                            <div class="phone__detail--sm m-b-20">
                                <div class="phone__title">
                                        <h3 class="person__name">Samsung Galaxy A4 - 2017</h3>
                                </div>

                                <div class="phone__detail--sm-description">
                                    <div class="row">
                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-image">
                                                    <img src="../asset/images/phone-sm.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-price">
                                                <p>6.490.000</p>
                                                <p>7.490.000</p>
                                            </div>

                                            <div class="phone__detail--sm-action">
                                                <a href="#" class="button full-width">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>

                       <div class="columns small-12 medium-6 flex-container">
                            <div class="phone__detail--sm m-b-20">
                                <div class="phone__title">
                                        <h3 class="person__name">Samsung Galaxy A4 - 2017</h3>
                                </div>

                                <div class="phone__detail--sm-description">
                                    <div class="row">
                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-image">
                                                    <img src="../asset/images/phone-sm.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-price">
                                                <p>6.490.000</p>
                                                <p>7.490.000</p>
                                            </div>

                                            <div class="phone__detail--sm-action">
                                                <a href="#" class="button full-width">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>


                   </div>

                   <div class="row">
                       <div class="columns small-12 medium-6 flex-container">
                            <div class="phone__detail--sm m-b-20">
                                <div class="phone__title">
                                        <h3 class="person__name">Samsung Galaxy A4 - 2017</h3>
                                </div>

                                <div class="phone__detail--sm-description">
                                    <div class="row">
                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-image">
                                                    <img src="../asset/images/phone-sm.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-price">
                                                <p>6.490.000</p>
                                                <p>7.490.000</p>
                                            </div>

                                            <div class="phone__detail--sm-action">
                                                <a href="#" class="button full-width">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>

                       <div class="columns small-12 medium-6 flex-container">
                            <div class="phone__detail--sm m-b-20">
                                <div class="phone__title">
                                        <h3 class="person__name">Samsung Galaxy A4 - 2017</h3>
                                </div>

                                <div class="phone__detail--sm-description">
                                    <div class="row">
                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-image">
                                                    <img src="../asset/images/phone-sm.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="columns small-6">
                                            <div class="phone__detail--sm-price">
                                                <p>6.490.000</p>
                                                <p>7.490.000</p>
                                            </div>

                                            <div class="phone__detail--sm-action">
                                                <a href="#" class="button full-width">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>


                   </div>
                    </div>
                   
                </div>

                

            </div>
            </div>
            

        {{/content}}

        {{#content "footer" mode="prepend"}}
        
        {{/content}}

    

{{/extend}}